:root {
  --light: #fff;
  --gray: #eee;
  --dark: #1a1a1a;
  --primary: #5555ff;
  --path: #ffff00;
  --danger: #ff1a1a;
  --wall: var(--dark);
  --visited: var(--primary);
  --unvisited: var(--light);
  --weight-bold: 500;
  --weight-bolder: 600;
  --weight-light: 300;
  --weight-lighter: 200;
}

a {
  text-decoration: none;
  color: var(--primary);
}

ul {
  list-style: none;
}

.bold {
  font-weight: var(--weight-bold);
}

.bolder {
  font-weight: var(--weight-bolder);
}

.light {
  font-weight: var(--weight-light);
}

.lighter {
  font-weight: var(--weight-lighter);
}
