:root {
  --light: #fff;
  --dark: #1a1a1a;
  --primary: #5555ff;
  --path: #ffff00;
  --danger: #ff1a1a;
  --wall: var(--dark);
  --visited: var(--primary);
  --unvisited: var(--light);
  --weight-bold: 500;
  --weight-bolder: 600;
  --weight-light: 200;
  --weight-lighter: 300;
}

a {
  text-decoration: none;
  color: var(--primary);
}

ul {
  list-style: none;
}
